﻿@model BloggingApplication.Models.post

@{
    ViewBag.Title = "Edit";
}

<form action="@Href("~/Posts/Update")" method="post" id="postForm">
    @if (Model.id != -1)
    {
        <input type="hidden" name="id" value="@Model.id" />
    }

    @{ DateTime dateTime = DateTime.Now; }
    <input type="text" name="datetime" value="@dateTime" /> Date <br />
    <input type="text" name="title" value="@Model.title" /> Title <br />
    <input type="text" name="tags" value="@ViewBag.tags" /> Tags <br />
    <textarea name="body" rows="10" cols="80">@Model.body</textarea> <br />
    <input type="submit" name="submit" value="Submit!" />
</form>
