﻿@using BloggingApplication.Models;
@model IEnumerable<BloggingApplication.Models.post>

@{
    ViewBag.Title = "Index";
    bool isPreviousLinkVisible = ViewBag.IsPreviousLinkVisible ?? false;
    bool isNextLinkVisible = ViewBag.IsNextLinkVisible ?? false;
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

@foreach (post post in Model)
{
    @PostHelper.Render(post, Html, isAdmin, false)
}

@if(isPreviousLinkVisible)
{
    <a id="perviousLink" href="@Href(("~/Posts/Index/") + (ViewBag.PageNumber - 1))">&lt; Previous Link</a>
}

@if (isNextLinkVisible)
{
    <a id="nextLink" href="@Href(("~/Posts/Index/") + (ViewBag.PageNumber + 1))">Next Link &gt;</a>
}
