﻿@using BloggingApplication.Models;

@helper Render(post post, System.Web.Mvc.HtmlHelper html, bool isAdmin, bool showComments)
{
    <div class="postTitle"><a href="@Href("~/Posts/Detail/" + post.id)">@post.title</a></div>
    <div class="postContainer">
        <div class="postTabs">
            <div class="dateTab">
                <div class="month">@post.datetime.ToString("MMM").ToUpper()</div>
                <div class="day">@post.datetime.ToString("dd")</div>
            </div>
            <div class="commenTab">
                <a href="@Href("~/Posts/Detail/" + post.id + "#comments")">@post.comments.Count</a>
            </div>
        </div>
        <div class="postContent">
            <div class="postBody">@html.Raw(post.body)</div>
            <div class="tagList">
                @foreach(tag tag in post.tags)
                {
                    <span class="tag"><a href="@Href("~/Posts/Tags/" + tag.name)">@tag.name</a></span>
                }
            </div>
            <div class="linkList">

            </div>
        </div>
    </div>
    
    if (showComments)
    {
        <div id="commentContainer">
            <a id="comments"></a>
            @foreach(comment comment in post.comments.OrderBy(x => x.datetime ))
            {
                <div class="comment">
                    <div class="commentName">
                        @if(!string.IsNullOrWhiteSpace(comment.email))
                        {
                            <a href="mailto:@comment.email">
                                @comment.commentername.GetType();
                            </a>
                        }
                        else
                        {
                            @comment.commentername.GetType();
                        }
                        
                    </div>
                    said:
                    <div class="commentBody">@html.Raw(html.Encode(comment.body).Replace("\n", "<br/>"))</div>
                    <div class="commentTime">at @comment.datetime.ToString("HH:mm") on @comment.datetime.ToString("yyyy/MM/dd")</div> 
                </div>
            }
        </div>

    <div id="commentEditor">
        <div id="commentPrompt">Leave a Comment!</div>
        <form action="@Href("~/Posts/Comment/" + post.id)" method="post">
            <input type="text" id="commentNamePrompt" name="name" />Name (required)<br/>
            <input type="text" id="commentEmailPrompt" name="email" />Email (optional)<br />
            <textarea id="commentBodyInput" name="commentBody" rows="10" cols="60"></textarea><br />
            <input type="submit" id="commentInputSubmit" name="submit" value="Submit!" />
        </form>
    </div>
    }
}